@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

/* =============Colors============ */

:root{
    --default-color: #e71247;
    --default-color2: #d64569;
    --dark-color: #222;
    --dark-color-alt: #3c4858;
    --greay-color: #fdf9f9;
    --grey-color-alt: #8492a6;
    --yellow: #ffcc00;
    --white: #fff;
}

/* ======== Reset =========*/

*,
*::after,
*::before{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
    font-size:62.5%;    
}

body{
    position: relative;
   font-family: 'Dosis', sans-serif;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.6;
   color: var(--dark-color);
   background-color: bar(--white);

}

li,ul{
     list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

h2,h3,h4{
    font-weight: 600;
}

.container{
    max-width: 114rem;
    padding: 0 1rem;
    margin: 0 auto;
}

@media only screen and (max-width: 992px){
    .container{
        padding: 0 3rem;
    }
}

/* =========================== Header===========================*/
.header{
    min-height: 100vh;
    background: linear-gradient(to top,
    rgb(17,117,231,0.5),
    rgba(136,0,133,.6)),
    url("./images/Banner1.jpg") center/cover no-repeat fixed;

    position: relative;
    z-index: 100;

}

.header::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}

/*=============Navigator====================*/

.navigation{
    position: relative;
    padding: 1.5rem 0;
    z-index: 100;
}

.fix_nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.nav_center .nav_hamburger{
    display: none;
    cursor: pointer;

}

.nav_menu .menu_top{
    display: none;
    cursor: pointer;
}

.nav_center{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.nav_header .nav_logo h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
}

.fix_nav .nav_logo h1{
    color: var(--dark-color);
}

.nav_header .nav_logo  h1 span{
    color: var(--default-color );
}

.nav_icons svg{
    width: 1.7rem;
    height: 1.7rem;
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.nav_menu .nav_list{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav_list .nav_item:not(:last-child){
    margin-right: 0.5rem;
}

.nav_item .nav_link:link,
.nav_item .nav_link:visited{
    display: inline-block;
    padding: 1rem;
    color: var(--greay-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1px;
    transition: all 300ms ease-in-out;
}

.fix_nav .nav_item .nav_link:link,
.fix_nav .nav_item .nav_link:visited{
    color: var(--dark-color);
}

.nav_item .nav_link:hover{
    color: var(--default-color);
}

.fix_nav .nav_item .nav_link:hover{
    color: var(--default-color);
}

.nav_menu .nav_item:last-child .nav_link{
    background-color: var(--default-color);
    padding: 0.8rem 3rem;
    border-radius: 10rem;
    border: 1px solid var(--default-color);
    transition: all 300ms ease-in-out;
}

.nav_menu .nav_item:last-child .nav_link:hover{
    color: var(--greay-color);
    background-color: transparent;
}

.fix_nav .nav_menu .nav_item:last-child .nav_link:hover{
    color: var(--default-color);
}

.nav_icons{
    display: flex;
    align-items: center;
}

.nav_icons .icons_item{
    color: var(--greay-color);
    padding: 1rem;
}

.nav_icons .icons_item svg{
    fill: var(--greay-color);
}

.fix_nav .nav_icons .icons_item svg{
    fill: var(--dark-color);
}

.nav_icons .icons_item:last-child{
    position: relative;
    background-color: var(--grey-color-alt);
    padding: 0.7rem 1rem;
    border-radius: 5rem;
}

.nav_icons .icon_item:last-child span{
    position: absolute;
    background-color: var(--default-color);
    display: inline-block;
    top: -0.6rem;
    right: -1rem;
    border-radius:  50%;
    padding: 0.1rem 0.8rem;
    font-size: 1.4rem;
    font-weight: 800;
}

/* ========Navigation Media Query======*/

@media only screen and (max-width: 996px){
    .nav_icons{
        display: none;
    }

    .nav_center{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px){
    .navigation{
        background-color: var(--white);
    }

    .nav_center{
        grid-template-columns: 1fr;
    }

    .nav_center .nav_hamburger{
        display: block;
    }

    .nav_center .nav_hamburger svg{
        width: 3rem;
        height: 3rem;
        fill: var(--dark-color);
    }

    .nav_center .nav_header .nav_logo h1{
        color: var(--default-color);
    }

    .nav_header .nav_logo h1{
        color: var(--dark-color);
    }

    .nav_header .nav_logo h1 span{
        color: var(--default-color);
        }

    .nav_center .nav_hamburger span{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .nav_menu{
        position: fixed;
        top: 0;
        left: -40rem;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        background-color: var(--white);
        transition: all 300ms ease-in-out;
    }

    .nav_menu .menu_top svg{
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--white);
    }

    .nav_menu .menu_top .close_toggle{
        cursor: pointer;
    }

    .nav_menu .menu_top{
        display: flex;
        align-items: center;
        justify-content: 2rem 1rem;
        width: 100%;
        background-color: var(--default-color);
    }

    .nav_menu .nav_list{
        background-color: var(--white);
        justify-content: start;
        flex-direction: column;
        width: 30rem;
        padding: 0;
    }

    .nav_menu .nav_list .nav_item{
    width: 100%;
    }

    .nav_list .nav_item .nav_link:link,
    .nav_list .nav_item .nav_link:visited{
        display:  block;
        width: 100%;
        font-size: 1.8rem;
        color: var(--dark-color);
    }

    .nav_list .nav_item .nav_link:last-child:link,
    .nav_list .nav_item .nav_link:last-child:visited{
        display: inline-block;
        width: 50%;

    }

    .nav_list .nav_item .nav_link:last-child:hover{
        color: var(--default-color);
    }

    .nav_list .nav_item .nav_link:hover{
        color: var(--default-color); 
    }

    body.active::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 70;
    }
}

/* =============== Hero ====================*/

 .hero{
     height: 100vh;
     position: relative;
     text-align: center;

 }

 .hero_content{
     position:absolute;
     top: 50%;
     left: 50%;
     width: 100%;
     transform: translate(-50%, -50%);
     color:var(--greay-color)
 }

 .navigation.fix_nav .hero .hero_content{
     top: 70%;
 }

 .hero_content h1{
    font-size: 5rem;
    margin-bottom: 5rem;
 }

 .hero_content h1 span{
     display: block;
     line-height: 1.2;

 }

 .hero_content h1 span.color{
     display: inline-block;
     color: var(--default-color);
 }

 .btn-hero:link,
 .btn-hero:visited{
     display: inline-block;
     color: var(--greay-color);
     padding: 1rem 4rem;
     border: 2px solid var(--default-color);
     border-radius: 4rem;
     font-size: 1.6rem;
     font-weight: 600;
     text-transform: uppercase;
     transition: all .3sec ease-in-out;
 }

 .btn-hero:hover{
     background-color: var(--default-color);
 }

 .goto_next{
     position: absolute;
     bottom: 12%;
     left: 50%;
     transform: translate(-50%, 0);
     background-color: var(--default-color);
     padding: 1rem;
     border-radius: 50%;
     animation: bounce 2s linear infinite;
 }

 .goto_next svg{
     height: 1.8rem;
     width: 1.8rem;
     fill:var(--white);
 }

 .goto_next span{
     display: flex;
     align-items: center;
     justify-content: center;
 }

 @keyframes bounce {
     0%{
         bottom: 12%;
     }
     50%{
         bottom: 8%;
     }
     100%{
         bottom: 12%;
     }
 }

 @media only screen and (max-width: 768px){
     .hero_content h1{
         font-size: 4rem;
     }

     .hero_content h1 span{
         display: inline-block;
     }
 }

 @media only screen and (max-width: 567px){
    .hero_content h1{
        font-size: 3.5rem;
    }
}



/* ==================== New Arrival ========================*/

.section{
    padding: 5rem 0;
}

.arrival{
    padding: 2rem 0;
}

.title{
    text-align:center;
    margin-bottom: 3rem;
}

.primary_title{
    font-size: 4rem;
    display: inline-block;
    position: relative;
}

.primary_title::after{
    content: '';
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    margin: 0 auto;
    height: .4rem;
    background-color: var(--default-color);
}

.arrival_center{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 4rem 0;
}

@media only screen and (max-width: 996px){
    .arrival_center{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 768px){
    .arrival_center{
        grid-template-columns: 1fr 1fr;
    }
}

/*=========================Product==============================*/

.product{
    display: flex;
    flex-direction:column;
    padding: 2rem 1rem;
    text-align: center;

}

.product:hover{
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

.product .img_container{
    height: 25rem;
    overflow: hidden;
}

.img_container img{
    transition: all .5s ease-in-out;
}

.product:hover .img_container img{
    transform: scale(1.05);
}

.rating svg{
    width: 1.8rem;
    height: 1.8rem;
    fill:var(--yellow)
}

.product_bottom{
    padding-top: 1.6rem;
}

.product_bottom h3{
    margin-bottom: 1rem;
}

.product_bottom a:link,
.product_bottom a:visited{
    display: inline-block;
    padding: .8rem 4rem;
    background-color: var(--default-color);
    color: var(--greay-color);
    text-transform: uppercase;
    font-weight: 500;
}

@media only screen and (max-width: 567px){
    .product .img_container{
        height: 15rem;
    }

    .rating svg{
        width: 1.5rem;
        height: 1.5rem;
    }
    .product_bottom a:link,
    a.product_bottom a:visited{
    padding: .6rem 3rem;
    font-size: 1.4rem;
    }
    .product_bottom h3{
        font-size: 1.6rem;
    }
    
}

/* ===============Cart Slide ======================= */

.cart_slide{
    padding-bottom: 30rem;
}

.cart_like{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    padding: 1.6rem 1rem;
}

.image_holder{
    width: 100%;
    text-align: center;

}

.image_holder img{
    width: 45rem;
    height: 50rem;
}

.cart_details h1{
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 1.6rem;
}

.cart_details p{
    font-size: 1.8rem;
     color: var(--greay-color-alt);
     margin-bottom: 1.6rem;
}

.cart_details .colors{
    display: flex;
    margin: 0.8rem 0 2rem 0;

}

.cart_details .colors span{
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    border: 2px solid var(--dark-color-alt);
    cursor: pointer;
}

.cart_details .colors span:not(:last-child){
    margin-right: 0.7rem;
}

.cart_details .colors span:nth-child(1){
    background-color: red;
}

.cart_details .colors span:nth-child(2){
    background-color: green;
}

.cart_details .colors span:nth-child(3){
    background-color: blue;
}

.cart_details .colors span:nth-child(4){
    background-color: yellow;
}

.cart_details .btn_group button{
    display: inline-block;
    width: 15rem;
    padding: 1.3rem;
    border: 1px solid var(--greay-color-alt);
    border-radius: .3rem ;
    color: var(--dark-color-alt);
    font-weight: 600;
    font-size: 1.7rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cart_details .btn_group button:focus{
    outline: none;
}

.cart_details .btn_group button:first-child:hover{
    border-color: var(--default-color);
    background-color: var(--default-color);
    color: var(--greay-color);
}

.cart_details .btn_group button:last-child{
    border-color: var(--default-color);
    background-color: var(--default-color);
    color: var(--greay-color);
}

.glide_bullets{
    bottom: -30%;
}

.glide_bullet{
    width: 25rem;
    height: 15rem;
    border-radius: 0;
    border: 1px solid var(--greay-color-alt);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.05);

}

.glide_bullet:hover{
    border: 1px solid var(--greay-color-alt);
    background-color: transparent;
}

.glide_bullet:focus{
    border: 1px solid var(--greay-color-alt);
    background-color: rgba(0, 0, 0, 0.2);
}

.thumbnail{
    width: 25rem;
    height: 13rem;
}

.thumbnail img{
    object-fit: contain;
}

.glide_arrow{
    background-color: transparent;
    color: var(--greay-color-alt);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0;
    padding: 1.3rem 3rem;
    border: 1px solid var(--grey-color-alt);
    opacity:0;
    top: -2rem;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.cart_slide:hover .glide_arrow{
    visibility: visible;
    opacity: 1;
}

.glide_arrow:hover{
    border: 1px solid var(--greay-color-alt);
}

@media only screen and (max-width: 1200px){
    .glide_bullet{
        width: 15rem;
        height: 15rem;
    }

    .thumbnail{
        width: 15rem;
        height: 15rem;
    }

    .thumbnail img{
        height: 12rem;
    }
}

@media only screen and (max-width: 996px){
    .cart_slide{
        padding-bottom: 20rem;
    }

    .cart_like{
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        gap: 0 1rem;
        padding: 1.6rem 1rem;
    }

    .image_holder img{
        width: 40rem;
        height: 45rem;
    }
    
    .cart_details .btn_group button{
       width: 15rem;
       font-size: 1.4rem;
    }

    .glide_bullet{
        width: 15rem;
        height: 15rem;    
    }

    .thumbnail{
        width: 15rem;
        height: 15rem;
    }

    .thumbnail img{
        height: 12rem;
    }
}

@media only screen and (max-width: 768px){
    .cart_like{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 1rem;
        padding: 1.6rem 1rem;
    }
    .image_holder img{
        width: 30rem;
        height: 35rem;
    }

    .cart_details h1{
        font-size: 4rem;
    }

    .cart_details .btn_group bottom :not(:last-child){
        margin-bottom: 1rem;
    }

    .glide_bullet{
        width: 10rem;
        height: 10rem;
    }

    .thumbnail{
        width: 10rem;
        height: 10rem;
        
    }

    .thumbnail img{
        height: 8rem;
    }
}

@media only screen and (max-width:567px) {
    .cart_slide{
        padding-bottom: 3rem;
    }

    .glide_bullet{
        display: none;
    }

    .cart_like{
        grid-template-columns: 1fr;
        gap: 2rem 0rem;
        padding: 1.6rem 1rem;
    }
    
}